html {
    font-family: monospace;
}

body {
    margin: 0px;
    background: #F3F3F4;

}

#calc {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

#container {
    display: flex;
    flex-direction: column;
    border: 10px solid #14110F;
    height: 550px;
    width: 500px;
    flex-wrap: wrap;
    background: #CCC5B9;
    border-radius: 10px;
}

#display {
    display: flex;
    justify-content: flex-end;
    padding: 16px;
    font-size: 40px;
    font-weight: 700;
    margin: 8px;
    border: 3px solid #14110F;
    border-radius: 10px;
}

#input {
    padding: 4px;
    text-align: center;
}

button {
    font-size: 32px;
    font-weight: 700;
    width: 110px;
    height: 80px;
    border: 2px solid #14110F;
    border-radius: 5px;
    margin: 2px;
}

#zero {
    width: 232px;
}

.operand {
    background: #877154;
}

.stuff {
    background: #7E7F83;
}

.operator {
    background: #D9C5B2;
}


.operand:active {
background: #c5ac8c;
}

.stuff:active {
    background: #b5b6bb;
}

.operator:active {
background: #e6ded7;
}

a {
    text-decoration: none;
    color: #14110F;
}