body {
    margin: 0px;
    background: #F3F3F4;
}

#calc {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

#container {
    display: flex;
    flex-direction: column;
    border: 10px solid #14110F;
    height: 550px;
    width: 500px;
    flex-wrap: wrap;
}

#display {
    display: flex;
    justify-content: flex-end;
    padding: 16px;
    font-size: 50px;
    font-weight: 700;
    margin: 8px;
    border: 3px solid #14110F;
}

#input {
    padding: 4px;
}

button {
    font-size: 32px;
    font-weight: 700;
    width: 120px;
    height: 80px;
}

#zero {
    width: 244px;
}

